body {
    font-size: 15pt;
    background: #98a3d0;
}
.table5{
  border: 1px solid block;
  border-collapse: collapse;
  width: 350px;
  font-size: 13px;
  background: white;
  
}
.table5 th{
  border: 1px solid black;
  padding: 2px;
}
.table5 td{
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}
.table5 .head3{
  text-align: center
}
.table5 .head2{
  text-align: center;
  background: #9FA2F0;
}
.table_div{
  padding: 7px;
  background: #081842;
  border-radius: 5px;
  margin: 5px;
}